
  .calendar > div{
        border:1px solid #ccc;
        width:calc(100% / 7);
        box-sizing: border-box;
        
        margin-left:-1px;  /*調整邊框重疊 -1會重疊*/
        margin-top:-1px;   /*調整邊框重疊 -1會重疊*/
        

    }
.calendar{
    display:flex;
    flex-wrap: wrap;
    width:50%;
    margin-left:1px;  /*調整邊框重疊拉回來*/
    margin-top:1px;   /*調整邊框重疊拉回來*/
}


